.heading {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;

  .text {
    font-size: 3.250rem;
    font-weight: 600;
  }

  .wrapper {
    position: relative;

    .offset {
      top: 0;
      left: 0;
      position: absolute;
      transform: translateX(-50%);
    }

    .text {
      white-space: nowrap;
      color: $red;
    }

  }
}